@use 'layout';
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

::selection {
    color: white;
    background-color: var(--main-hover);
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    background-color: var(--dark);
    &::-webkit-scrollbar-thumb {
        background-color: var(--white);
        border-radius: 20rem;
        &:active {
            background-color: var(--grey);
        }
    }
    &::-webkit-scrollbar {
        background-color: var(--dark);
        width: 1.2rem;
    }
}

:root {
    --main: #219DEC;
    --main-hover: #00aeff;
    --black: #16181C;
    --dark: #000000;
    --grey: #141418;
    --white: #ffffff;
    --subdark: #0c0c0e;
}