.wrapper {
    max-width: 1300px;
    margin: 0 auto;
    width: 100%;
}

.section-padding {
    padding: 0 2rem;
}

.loader {
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--dark) url(/dist/img/512x512.gif) no-repeat center center;
    z-index: 2137;
    background-size: 7%;
}

@media screen and (min-width: 768px) {
    .loader {
        background-size: 3%;
    }
}

[data-theme="light"] {
    --grey: #14181f;
    --white: #121212;
    --black: #eeeeee;
    --dark: #ffffff;
}

.dark-btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 5rem;
    top: 5rem;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color .2s ease, transform .1s ease;
    &:hover {
        background-color: var(--black);
    }
    &:active {
        transform: scale(0.94);
    }
    i {
        font-size: 3rem;
        color: var(--white);
    }
}