.main {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: row dense;
    gap: 2rem;
    padding: 8rem 2rem;
    .container {
        max-width: 53rem;
        &__error-msg {
            color: var(--main);
            font-size: 1.5rem;
            transition: transform .2s ease, opacity .2s ease;
        }
    }
    &__title {
        color: var(--main);
        font-size: 2rem;
    }
    input,
    select {
        padding: 2.5rem 3rem;
        background-color: var(--black);
        border-radius: 1rem;
        border: none;
        outline: none;
        color: var(--white);
        margin: 2rem 0;
        font-size: 2rem;
        &:hover {
            background-color: var(--grey);
        }
    }
    select {
        cursor: pointer;
        margin-left: 2rem;
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';
        width: 20rem;
    }
    input {
        min-width: 10rem;
        max-width: 70rem;
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
    .box,
    .box-two {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .swap-btn,
    .save-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem 3rem;
        background-color: var(--main);
        border-radius: 1rem;
        border: none;
        width: 100%;
        outline: none;
        color: var(--white);
        margin: 2rem 0;
        font-size: 2.5rem;
        cursor: pointer;
        transition: transform .2s ease;
        &:active {
            transform: scale(0.98);
        }
        .swap {
            padding-right: .5rem;
            color: white;
        }
        .swap-icon {
            color: white;
            font-size: 2.5rem;
        }
        .swap-arrow {
            font-size: 3rem;
        }
        &:hover {
            background-color: var(--main-hover);
        }
    }
    .history-container {
        background-color: var(--dark);
        position: relative;
        padding-left: 15rem;
        &::after {
            content: '';
            position: absolute;
            height: 100%;
            width: 2px;
            left: 0;
            bottom: 0;
            background-color: var(--main);
        }
        &__header {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: flex-end;
            margin-top: 3rem;
        }
        h2 {
            position: relative;
            font-size: 2rem;
            color: var(--main);
            padding-bottom: 2.5rem;
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                right: 0;
                width: 100%;
                height: 2px;
                background-color: var(--main);
            }
        }
        &__clear-all-btn {
            color: white;
            padding: 1.1rem 0;
            background: var(--main);
            border-radius: 1rem;
            border: none;
            font-size: 2rem;
            width: 100%;
            cursor: pointer;
            transition: background .2s ease, visibility .2s ease, opacity .2s ease;
            &:hover {
                background: var(--main-hover);
            }
        }
        .empty-error {
            color: var(--white);
            font-size: 3rem;
            padding-top: 3rem;
        }
        &__notes-area {
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            justify-content: space-between;
            &--note {
                position: relative;
                background-color: var(--black);
                padding: 2rem;
                min-width: 47%;
                max-width: 47%;
                border-radius: 1rem;
                margin: 2.5rem 0 0 0;
                .date-box {
                    padding-bottom: 2rem;
                    .title {
                        color: var(--main);
                        padding-bottom: .7rem;
                    }
                    .timer,
                    .timerHours {
                        font-size: 2rem;
                        color: var(--white);
                    }
                }
                .delete-note-btn {
                    position: absolute;
                    top: 1rem;
                    right: 1rem;
                    background: none;
                    border-radius: 50%;
                    width: 3rem;
                    height: 3rem;
                    border: none;
                    cursor: pointer;
                    transition: background .1s ease;
                    &:hover {
                        background: var(--dark);
                    }
                    i {
                        font-size: 2rem;
                        color: var(--white);
                    }
                }
            }
            .result {
                font-size: 1.8rem;
                color: var(--main);
            }
        }
    }
}

.icon-rotate {
    transform: rotate(180deg);
}